@font-face {
    font-family: "retro";
    src: url(ASSETS/retro.ttf) format("truetype");
}

@font-face {
    font-family: "cafe";
    src: url(ASSETS/cafe.ttf) format("truetype");
}

@font-face {
    font-family: "rainy";
    src: url(ASSETS/Minecraft.ttf) format("truetype");
}



#GL {
    background-image: url("ASSETS/glitchPolka.gif");
    background-color: rgb(238, 233, 217);
}



.theGames {
    margin: 8% 40% 0;
    padding: 80px;
    align-items: center;
    text-align: center;
    background-color: rgb(205, 194, 180);
    border: 2px solid rgb(153, 132, 106);
}

.listedGames button, .listedGames a {
    color: black;
    margin-bottom: 10px;
    text-decoration: none;
    background: rgb(153, 132, 106);
    border: none;
    line-height: 30px;
}

    .listedGames button:hover {
        box-shadow: 1px 1px 3px rgb(52, 52, 52);
    }
/* RPS START */

.body-RPS {
    animation: slide 30s linear infinite;
    background: url("ASSETS/frill.gif") repeat 0 0;
}

    @keyframes slide {
        100% {
            background-position: -500px -450px;
        }
    }

.body-RPS{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 10px double #ff9fb9;
    padding: 2rem 7rem;
    border-radius: 14px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.362);
    background-image: url("ASSETS/whitechoc2.gif")
}

.result {
    box-shadow: 1px 1px 3px grey;
    text-shadow:  0 1px 1px rgba(0, 0, 0, 0.53);
    background-color: rgb(255, 244, 228);
    border: 4px solid;
    border-radius: 10px;
}

.result_images{
    display: flex;
    column-gap: 7rem;
}

.container.start .user_result{
    animation: userShake 0.7s ease infinite;
    transform-origin: left;
}

    @keyframes userShake {
        50%{
            transform:rotate(10deg);
        }
    }

.container.start .cpu_result{
    animation: cpuShake 0.7s ease infinite;
    transform-origin: right;

}

    @keyframes cpuShake {
        50%{
            transform:rotate(-10deg);
        }
    }

    .result_images img{
        filter:saturate(0);
        width: 100px;
    }

.user_result img{
    transform: rotate(90deg);
}

.cpu_result img{
    transform: rotate(-90deg) rotateY(180deg);
}

.result {
    text-align: center;
    font-size: 2rem;
    color:pink;
    margin-top: 1.5rem;
}

.option_image img{
    width:50px;
    filter:saturate(0);
}

.option_images {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;

}

.container.start .option_images {
    pointer-events: none;
}

.option_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.option_image:hover {
    opacity: 1;
}

.option_image.active {
    opacity: 1;
}

.option_image img{
    pointer-events: none;

}

.option_image p {
    color: black;
    font-size: 1.235rem;
    margin-top: 1rem;
    pointer-events: none;
}


#homeRPS {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.362);
    align-items: center;
    text-align: center;
    display: flex;
    position: absolute;
    bottom: 80px;
    background-color: rgb(255, 244, 228);
    border: 3px solid #ff9fb9;
    border-radius: 5px;
}

    #homeRPS a {
    color: #ff9fb9;
    text-decoration: none;
    }

    #homeRPS:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.462);
    }











/* PONG START */

#bodyPONG {
    background: url("ASSETS/bluePolka.gif") repeat 0 0;
}

#container-PONG {
    margin-top: 2%;
    text-align: center;
    align-items: center;
}

#gameBoard {
    border: 3px solid;
}

#scoreText {
    font-family: "rainy";
    font-size: 100px;
}

#resetBtnPong {
    font-family: "cafe";
    cursor: pointer;
}

    #resetBtnPong:hover {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
    }

#returnHomePong a {
    font-family: "cafe";
    cursor: pointer;
    text-decoration: none;
    color:black;   
}

    #returnHomePong:hover {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);

    }

#resetBtnPong, #returnHomePong {
    background-color:white;
}

.PONGborder {
    margin: 0 32% 0;
    background-color: rgb(198, 228, 228);
    padding: 1% 0 1%;

}

/* PONG END */







/* MG START */

#grid {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
